ul.rating li {
  display: inline;
  border: 0px;
  background: none;
  padding: 0px 10px;
}
ul.rating li i {
  font-size: 30px;
  
}
h3 {
    padding:10px;
    text-align:center;
}
.ratingLayout{
    margin-top:-8%;
    margin-left:8%
}